body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e7efbd;
}

.galeria {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.foto {
    text-align: center;
}

    .foto img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .foto p {
        font-size: 1.5em;
        color: #333;
        font-weight: 300;
    }
