body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #8b9a6d;
    /* Cor de fundo da página */
}

.container {
    display: flex;
    height: 100%;
}

.imagem {
    flex: 1;
    background-image: url('../images/01.jpg');
    /* Substitua '../images/01.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.conteudo {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #273617;
    /* Cor do texto */
    height: 100vh;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 18px;
    text-align: center;
}

.botoes {
    display: flex;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 1em;
    background-color: #273617;
    /* Cor do botão */
    border: none;
    cursor: pointer;
}

a {
    color: #f1f1f1;
    text-decoration: none;
}
