@page


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="(max-width: 800px)" href="altura-max800.css">
    <link rel="stylesheet" href="./css/stylecustom.css">
    <title>INNOVA AGRO TECH</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-weight: bold; color:#273617">INNOVA AGRO TECH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Innova Agro Tech</h5>
                    <img src="./images/logo-transparente.png" alt="Bootstrap" width="30" height="24">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Carrossel">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Produtos">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Objetivos">Objetivos da Empresa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Sobre">Sobre nós</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Contato">Fale Conosco</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Cultivador">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./AgroTeam">Equipe Agro Team</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./images/09.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./images/08.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./images/13.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./images/10.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./images/05.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./images/14.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./images/15.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./images/07.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="./images/11.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <main>
        <h1>INNOVA AGRO TECH</h1>
        <h2>Plantando o futuro.</h2>
        <p>
            Na Innova Agro Tech, estamos comprometidos em impulsionar o setor agrícola para novos horizontes, oferecendo
            soluções inovadoras e tecnologicamente avançadas em máquinas agrícolas. Com uma visão focada no futuro,
            buscamos constantemente revolucionar a maneira como os agricultores trabalham, aumentando sua eficiência e
            produtividade.
        </p>

        <p>
            Nossa empresa é mais do que uma simples revendedora de máquinas agrícolas; somos parceiros dos agricultores,
            compreendendo suas necessidades específicas e oferecendo as melhores soluções para atender a cada desafio
            enfrentado no campo. Desde tratores de última geração até implementos de precisão e sistemas de irrigação
            inteligente, nossa gama de produtos é cuidadosamente selecionada para proporcionar um desempenho excepcional
            e resultados extraordinários.
        </p>

        <p>
            Além disso, na Innova Agro Tech, não apenas fornecemos equipamentos de ponta, mas também oferecemos suporte
            técnico especializado e serviços personalizados para garantir que nossos clientes alcancem o máximo
            potencial de suas operações agrícolas. Nosso compromisso vai além da venda; é sobre construir
            relacionamentos duradouros e ajudar os agricultores a prosperar em um ambiente cada vez mais competitivo.
        </p>

        <p>
            Junte-se a nós na jornada de plantar o futuro da agricultura. Na Innova Agro Tech, estamos prontos para
            ajudá-lo a cultivar sucesso, colheita após colheita.

        </p>
        <footer>Desenvolvido por: Agro Team</footer>
    </main>
    <script src="./bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const isLoggedIn = localStorage.getItem("isLoggedIn");
            const menuCadastro = document.getElementById("menu-cadastro");

            if (isLoggedIn === "true") {
                menuCadastro.style.display = "block";
            } else {
                menuCadastro.style.display = "none";
            }
        });

        function attemptLogin(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // Lista de usuários e senhas
            const users = [
                { username: "daniele", password: "senha123" },
                { username: "nicoly", password: "senha456" },
                { username: "raphael", password: "senha789" },
                { username: "maicon", password: "senha159" },
                { username: "vinicius", password: "senha357" }
            ];

            // Verificar usuário e senha
            const userFound = users.find(function (user) {
                return user.username === username && user.password === password;
            });

            if (userFound) {
                // Armazenar estado de login
                localStorage.setItem('isLoggedIn', 'true');
                window.location.href = './index.html';
            } else {
                alert('Nome de usuário ou senha incorretos');
            }
        }


        document.addEventListener("DOMContentLoaded", function () {
            const isLoggedIn = localStorage.getItem("isLoggedIn");
            const menuCadastro = document.getElementById("menu-cadastro");

            if (isLoggedIn === "true") {
                menuCadastro.style.display = "block";
            } else {
                menuCadastro.style.display = "none";
            }
        });
    </script>
</body>