@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="(max-width: 800px)" href="altura-max800.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>INNOVA AGRO TECH</title>
</head>

<body>
    <div class="container">
        <div class="imagem"></div>
        <div class="conteudo">
            <h1>INNOVA AGRO TECH</h1>
            <h2>
                Liderança em
                Agricultura de
                Precisão
            </h2>
            <p>
                Somos uma empresa de tecnologia agrícola com soluções inovadoras que
                ajudam grandes produtores a maximizar a produtividade e a
                sustentabilidade de suas operações.
            </p>
            <div class="botoes">
                <button><a href="./Carrossel">Clique e Conheça</a></button>
            </div>
        </div>
    </div>
</body>

</html>