@page
@model InnovaAgroTech.Pages.SobreModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="(max-width: 800px)" href="altura-max800.css">
    <title>INNOVA AGRO TECH</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html" style="font-weight: bold; color:#273617">INNOVA AGRO TECH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Innova Agro Tech</h5>
                    <img src="./images/logo-transparente.png" alt="Bootstrap" width="30" height="24">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Carrossel">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Produtos">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Objetivos">Objetivos da Empresa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Sobre">Sobre nós</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Contato">Fale Conosco</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./Cultivador">Cadastro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./AgroTeam">Equipe Agro Team</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <p>
                <p>Innova Agro Tech: Transformando o Futuro da Agricultura</p>

                <p style="text-align: justify">Na Innova Agro Tech, somos apaixonados por inovação e excelência no setor agrícola. Com anos de
                    experiência no mercado, nos destacamos como líderes na revenda de máquinas agrícolas de última
                    geração, oferecendo soluções tecnológicas avançadas que transformam o trabalho no campo.</p>

                <p style="font-weight: bold;">Missão:</p>

                <p style="text-align: justify">Nossa missão é impulsionar a produtividade e a eficiência na agricultura através da oferta de
                    equipamentos de ponta, combinando qualidade, durabilidade e tecnologia de vanguarda. Queremos ser
                    parceiros confiáveis para nossos clientes, ajudando-os a alcançar resultados excepcionais e
                    sustentáveis.</p>

                <p style="font-weight: bold;">O que Fazemos:</p>

                <p style="text-align: justify">A Innova Agro Tech oferece uma ampla gama de máquinas agrícolas que atendem às necessidades dos
                    agricultores modernos. Desde tratores de alta potência até colheitadeiras e implementos
                    especializados, nossos produtos são escolhidos cuidadosamente para garantir desempenho superior e
                    facilidade de uso. Trabalhamos com as marcas mais respeitadas do mercado, garantindo que nossos
                    clientes tenham acesso às melhores soluções disponíveis.</p>

                <p style="font-weight: bold;">Nossa Experiência:</p>

                <p style="text-align: justify">Com uma trajetória sólida e bem-sucedida, acumulamos um vasto conhecimento sobre as demandas e
                    desafios enfrentados pelos agricultores. Nossos profissionais são altamente capacitados e estão
                    sempre prontos para fornecer suporte técnico, consultoria especializada e treinamento, assegurando
                    que nossos clientes possam aproveitar ao máximo os benefícios das nossas máquinas.</p>

                <p style="font-weight: bold;">Inovação e Tecnologia:</p>

                <p style="text-align: justify">Acreditamos que a tecnologia é a chave para o futuro da agricultura. Por isso, estamos
                    constantemente em busca de novidades e inovações que possam agregar valor ao trabalho no campo.
                    Nossa linha de produtos inclui equipamentos com sistemas de automação, precisão e conectividade,
                    permitindo que os agricultores trabalhem de maneira mais inteligente e eficiente.</p>

                <p style="font-weight: bold;">Compromisso com a Sustentabilidade:</p>

                <p style="text-align: justify">Na Innova Agro Tech, também estamos comprometidos com práticas agrícolas sustentáveis. Promovemos o
                    uso de tecnologias que minimizam o impacto ambiental e contribuem para a preservação dos recursos
                    naturais. Acreditamos que é possível aliar alta produtividade com responsabilidade ambiental,
                    garantindo um futuro próspero para as próximas gerações.</p>

                <p style="font-weight: bold;">Por que Escolher a Innova Agro Tech?</p>

                <p style="text-align: justify">Qualidade e Confiabilidade: Trabalhamos com as melhores marcas do mercado, oferecendo produtos que
                    garantem desempenho e durabilidade.
                    Atendimento Personalizado: Nossa equipe está sempre pronta para entender as necessidades específicas
                    de cada cliente e oferecer soluções sob medida.
                    Suporte Técnico Especializado: Disponibilizamos suporte técnico completo, desde a instalação até a
                    manutenção, garantindo que nossos clientes possam operar seus equipamentos com tranquilidade.
                    Inovação Constante: Estamos sempre atualizados com as últimas tendências e tecnologias,
                    proporcionando aos nossos clientes as ferramentas mais modernas e eficientes.

                    Na Innova Agro Tech, estamos prontos para levar sua operação agrícola ao próximo nível. Junte-se a
                    nós e descubra como a inovação pode transformar o futuro da agricultura.</p>
                </p>
            </div>
            <div class="col-md-5 col-sm-12">
                <img src="./images/06.jpg" alt="" style="height: 1100px; width: 800px;">
            </div>
        </div>
    </div>
    </section>

    <script src="./bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const isLoggedIn = localStorage.getItem("isLoggedIn");
            const menuCadastro = document.getElementById("menu-cadastro");

            if (isLoggedIn === "true") {
                menuCadastro.style.display = "block";
            } else {
                menuCadastro.style.display = "none";
            }
        });

        function attemptLogin(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;


            const users = [
                { username: "daniele", password: "senha123" },
                { username: "nicoly", password: "senha456" },
                { username: "raphael", password: "senha789" },
                { username: "maicon", password: "senha159" },
                { username: "vinicius", password: "senha357" }
            ];


            const userFound = users.find(function (user) {
                return user.username === username && user.password === password;
            });

            if (userFound) {

                localStorage.setItem('isLoggedIn', 'true');
                window.location.href = './index.html';
            } else {
                alert('Nome de usuário ou senha incorretos');
            }
        }


        document.addEventListener("DOMContentLoaded", function () {
            const isLoggedIn = localStorage.getItem("isLoggedIn");
            const menuCadastro = document.getElementById("menu-cadastro");

            if (isLoggedIn === "true") {
                menuCadastro.style.display = "block";
            } else {
                menuCadastro.style.display = "none";
            }
        });
    </script>
</body>
<footer style="text-align: center;">Desenvolvido por: Agro Team</footer>

</html>